{
  "FinanceAPIFunction": {
    "MONGODB_URL": "mongodb+srv://username:password@cluster.mongodb.net/",
    "MONGODB_DATABASE": "financial_tracker",
    "GOOGLE_API_KEY": "your-google-api-key-here",
    "GENAI_MODEL": "models/gemini-2.5-flash",
    "ALLOWED_HOSTS": "*",
    "ENFORCE_HTTPS": "false"
  }
}

